
* {
    /* color scheme */
    --dimRed: #4d1111;
    --litRed: #cc1010;
    --dimCyan: rgb(60, 75, 84);
    --litCyan: #1bfbff;
    --yellow: rgb(221, 245, 102);
    --white: white;
    --panel: rgb(26, 10, 30);
}


body {
    background: #ffbced;
  }


  h1 {
    font-size: 12rem;
    color: white;
    margin: auto;
    margin-top: 25px;
    text-align: center;
    z-index: -1;
  }

  .seqButtonPanel {
    position: absolute;
    width: 700px;
    height: 440px;
    top: 52%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: var(--panel);
}

  #tvJpg {
    width: 130px;
    height: auto;
    float: right;
  }


  .metronomeLight {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 10%;
    left: 5%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: var(--dimRed);
  }


.distributeHorizontal {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 52%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.seqButton {
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: var(--dimCyan);
    display: flex;
    justify-content: flex-end;
}

.formatSixteenths {
    height: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sequenceSixteenths {
    width: 9px;
    height: 9px;
    margin: 7px;
    margin-right: -15px;
    background-color: var(--dimCyan);
    /* display: none; */

}

#buttonRow1 {
    top: 42%;
}

#buttonRow3 {
    top: 62%;
}

#buttonRow4 {
    top: 72%;
}

.stepLight {
  width: 10px;
  height: 10px;
  margin: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  background-color: var(--dimRed);
  top: 30%;
}

#stepLights1 {
  top: 47%;
}

#stepLights2 {
  top: 67%;
}

.hotSampler {
  width: 50px;
  height: 30px;
  margin: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: flex-end;
  background-color: var(--dimCyan);
  top: 50%;
}

#hotSampler {
  top: 30%;
  left: 45%;
}

#playPause {
  width: 40px;
  height: 40px;
  margin: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: flex-end;
  background-color: white;
  top: 31%;
  left: 2%;
}

#sampler4 {
  background-color: rgb(37, 79, 37);
}

#snareBank {
  width: 35px;
  height: 35px;
  margin: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(190, 91, 139);
  top: 38%;
  left: 4%;
}

#kickBank {
  width: 35px;
  height: 35px;
  margin: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(190, 91, 139);
  top: 48%;
  left: 4%;
}