
* {
    /* color scheme */
    --dimRed: #4d1111;
    --litRed: #cc1010;
    --dimCyan: rgb(60, 75, 84);
    --litCyan: #1bfbff;
    --playOn: rgb(255, 208, 138);
    --white: white;
    --panel1: rgb(26, 10, 30);
    --panel2: rgb(47, 13, 13);
    --dimGreen: rgb(65, 104, 65);
    --backgroundPink: #ffbced;
    --lcdGrey: gray;
}


body {
    background: #ffbced;
  }


  h1 {
    font-size: 12rem;
    color: white;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    z-index: -1;
  }

.retroScreen {
  position: absolute;
    width: 220px;
    height: 60px;
    top: 29.5%;
    left: 62.5%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: var(--lcdGrey);
    z-index: 2;
}



  .seqButtonPanel {
    position: absolute;
    width: 700px;
    height: 440px;
    top: 51%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: linear-gradient(var(--panel1), var(--panel2));
}

#leftPanelButtons {
  position: absolute;
  width: 700px;
  height: 440px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

#playPause {
  width: 40px;
  height: 40px;
  margin: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: flex-end;
  background-color: white;
  top: 14%;
  left: 2%;
}

#snareBank {
  width: 35px;
  height: 35px;
  margin: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(190, 91, 139);
  top: 29%;
  left: 2%;
}

#kickBank {
  width: 35px;
  height: 35px;
  margin: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(190, 91, 139);
  top: 46.5%;
  left: 2%;
}


  #tvJpg {
    width: 130px;
    height: auto;
    float: right;
  }


  .metronomeLight {
    position: absolute;
    width: 30px;
    height: 7px;
    top: 12%;
    left: 6.25%;
    border-radius: 5px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: var(--dimRed);
  }


.distributeHorizontal {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 52%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.seqButton {
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: var(--dimCyan);
    display: flex;
    justify-content: flex-end;
}

.formatSixteenths {
    height: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sequenceSixteenths {
    width: 9px;
    height: 9px;
    margin: 7px;
    margin-right: -15px;
    background-color: var(--dimCyan);
    /* display: none; */

}

#buttonRow1 {
    top: 42%;
}

#buttonRow3 {
    top: 62%;
}

#buttonRow4 {
    top: 72%;
}

.stepLight {
  width: 10px;
  height: 10px;
  margin: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  background-color: var(--dimRed);
  top: 30%;
}

#stepLights1 {
  top: 47%;
}

#stepLights2 {
  top: 67%;
}

.hotSampler {
  width: 50px;
  height: 30px;
  margin: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: flex-end;
  background-color: var(--dimCyan);
  top: 50%;
}

#hotSampler {
  top: 30%;
  left: 29%;
}

#sampler4 {
  background-color: rgb(37, 79, 37);
}

.hatSeqButton {
  width: 12px;
  height: 12px;
  margin: 2px;
  border-radius: 1px;
  display: flex;
  justify-content: left;
  background-color: var(--dimGreen);
  top: 30%;
}

.hatSeqSpacer {
  width: 6px;
}

#hatsRow1 {
  top: 37%;
  left: 51%;
}

#hatsRow2 {
  top: 77%;
  left: 51%;
}

.ghostKickButton {
  width: 22px;
  height: 12px;
  margin: 4px;
  border-radius: 1px;
  display: flex;
  justify-content: left;
  background-color: var(--dimGreen);
  top: 30%;
}

.ghostKickSpacer {
  width: 10.1px;
}

#ghostKickRow {
  top: 77%;
  left: 50.75%;
  display: none;
}

/* Bass Sequencer Module */

#panel2 {
  top: 183%;
  color: white;
  text-align: center;
  height: 1500px;
}

.bassSeqButton {
  width: 30px;
  height: 30px;
  margin: 2px;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  background-color: var(--dimRed);
  /* top: 10%; */
}

.bassSeqSpacer {
  width: 6px;
}

#bassRow14 {
  top: 100%;
  left: 50%;
}

#bassRow13 {
  top: 105%;
  left: 50%;
}

#bassRow12 {
  top: 110%;
  left: 50%;
}

#bassRow11 {
  top: 115%;
  left: 50%;
}

#bassRow10 {
  top: 120%;
  left: 50%;
}

#bassRow9 {
  top: 125%;
  left: 50%;
}

#bassRow8 {
  top: 130%;
  left: 50%;
}

#bassRow7 {
  top: 135%;
  left: 50%;
}

#bassRow6 {
  top: 140%;
  left: 50%;
}

#bassRow5 {
  top: 145%;
  left: 50%;
}

#bassRow4 {
  top: 150%;
  left: 50%;
}

#bassRow3 {
  top: 155%;
  left: 50%;
}

#bassRow2 {
  top: 160%;
  left: 50%;
}

#bassRow1 {
  top: 165%;
  left: 50%;
}

/* second chunk of sequencer */

#bassRow28 {
  top: 180%;
  left: 50%;
}

#bassRow27 {
  top: 185%;
  left: 50%;
}

#bassRow26 {
  top: 190%;
  left: 50%;
}

#bassRow25 {
  top: 195%;
  left: 50%;
}

#bassRow24 {
  top: 200%;
  left: 50%;
}

#bassRow23 {
  top: 205%;
  left: 50%;
}

#bassRow22 {
  top: 210%;
  left: 50%;
}

#bassRow21 {
  top: 215%;
  left: 50%;
}

#bassRow20 {
  top: 220%;
  left: 50%;
}

#bassRow19 {
  top: 225%;
  left: 50%;
}

#bassRow18 {
  top: 230%;
  left: 50%;
}

#bassRow17 {
  top: 235%;
  left: 50%;
}

#bassRow16 {
  top: 240%;
  left: 50%;
}

#bassRow15 {
  top: 245%;
  left: 50%;
}